.notify {
  display: none;
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 30px;
  border-radius: 36px;
  color: #ffffff;
  font-size: 18px;
  z-index: 10;
  text-align: center;
  animation-name: notification;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.active {
  display: block;
  background: rgb(79, 35, 129);
}

@keyframes notification {
  0% {
    top: 10%;
    opacity: 100%;
  }
  100% {
    top: 5%;
    opacity: 0%;
  }
}
